{% extends "master.html"%}
{% block maincode%}

    <div class="container">
        <h1>Create Task</h1>
      
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="task_name" class="form-label">Task Name</label>
            <input type="text" class="form-control" id="task_name" name="task_name">
          </div>
          <div class="mb-3">

            <select class="form-select" aria-label="Default select example" name="status">
                <option value="0" selected>InComplete</option>
                <option value="1">Complete</option>
              </select>


          </div>
      
          <button type="submit" class="btn btn-warning">Add</button>
        </form>
      </div>
{% endblock %}