{% extends "master.html"%}
{% block maincode%}
<br><br><br>
<div class="d-flex justify-content-center">
    <h1>Task Manager</h1><br>
</div>
<div class="d-flex justify-content-center">
    <a href="login"><button type="button" class="btn btn-primary">Login</button></a>&nbsp;&nbsp;
    <a href="signup"><button type="button" class="btn btn-danger">Sign up</button></a>&nbsp;&nbsp;
</div>
{% endblock %}