
{% extends "master.html"%}
{% block maincode%}
<div class="container">
  <h1>Login</h1>

  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="name">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}