

{% extends "master.html"%}
{% block maincode%}
<div class="container">
    <h1>Signup</h1>


<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Username</label>
      <input type="text" name="name"><br><br>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password"><br><br>
    </div>
    <button type="submit" class="btn btn-primary">Sign-up</button>
  </form>
</div>
{% endblock %}