{% extends "master.html"%}
{% block maincode%}
<br>
<div class="d-flex justify-content-between">
    <h1>Task List</h1>
    <a href="createtask"><button type="button" class="btn btn-warning">Create Task</button></a>
</div>

<br>


<table class="table" border="1">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in task %}
        <tr>
            <td><a href='task/{{i.id}}'>{{i.task_name}}</a></td>
            {% if i.status == 0 %}
            <td>InComplete</td>
            {% elif i.status == 1 %}
            <td>Complete</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>



<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if task.has_previous %}
        <li class="page-item"><a class="page-link"
                href="{% url 'tasklist' %}?page={{ task.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{task.number}}</a></li>
        {% if task.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'tasklist' %}?page={{ task.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}