{% extends "master.html"%}
{% block maincode%}


<div class="container">
    <h1>Task</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="task_name" class="form-label"><b>Task Name</b></label>
            <input type="text" class="form-control" id="task_name" name="task_name" value="{{task.task_name}}">
        </div>
        <div class="mb-3">
            
            <label for="status" class="form-label"><b>Status</b></label>
            <select class="form-select" aria-label="Default select example" name="status" id="status">
                <option value="0" selected>InComplete</option>
                <option value="1">Complete</option>
            </select>
            <label class="form-label"><b>Created At:</b> {{task.created_at}}</label><br>
            <label class="form-label"><b>Last Updated on:</b> {{task.updated_at}}</label>
            <br>
        </div>
        <button type="submit" class="btn btn-warning">Update</button>
    </form>
<hr>
    <h3>Sub-Task</h3>
    {% for j in subtask%}
    {{ j.subtask_name }} <br>
    {% endfor %} <br>

    <form method="post" action="{% url 'add_subtask' task.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="subtask_name" class="form-label">Sub-Task Name</label>
            <input type="text" class="form-control" id="task_name" name="subtask_name">
        </div>
        <button type="submit" class="btn btn-warning">Add</button>
    </form>
</div>
{% endblock %}