{%extends "master.html"%}
{% block "body" %}
<h1>Edit employee</h1>
<form method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            {{form.as_table}}
            <td><input type="submit" name="" id=""></td>
            <td><input type="reset" name="" id=""></td>
        </tr>
    </table>
</form>
{% endblock  %}