{%extends "master.html"%}
{% block "body" %}
<h1>All employee details</h1>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Gender</th>
    </tr>
    {%for i in object_list%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.city}}</td>
        <td>{{i.gender}}</td>
        <td><a href="delete1/{{i.id}}">Delete 1</a></td>
        <td><a href="edit/{{i.id}}">Edit</a></td>
        <td><a href="delete2/{{i.id}}">Delete 2</a></td>
    </tr>
    {%endfor%}
</table>
{% endblock  %}