{%extends "master.html"%}
<!DOCTYPE html>
<html lang="en">
    {%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>

<body>
   {% block "body" %}
   <h1>welcome to home page</h1>
   {% endblock  %}
</body>

</html>