<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    {% load static %}
    <img src="{% static 'tobey.jpg' %}" alt="" srcset="">
</body>
</html>