<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Task List</h1>
    <a href="createtask"><button>Create Task</button></a><br><br>
    
    <table border="1">
        <tr>
            <td><b>Task</b></td>
            <td><b>Status</b></td>

        </tr>
        {% for i in task %}
        <tr>
            <td><a href='task/{{i.id}}'>{{i.task_name}}</a></td>
            {% if i.status == 0 %}
            <td>InComplete</td>
            {% elif i.status == 1 %}
            <td>Complete</td>
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="logout"><button>Logout</button></a><br><br>
</body>
</html>