<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Task</h2>
    <form method="post">
        {% csrf_token %}
        <label for="taskname">Task Name: </label>
        <input type="text" name="task_name" value="{{task.task_name}}"><br><br>
        <label for="status">Status: </label>
        <select name="status">
            <option value="0">InComplete</option>
            <option value="1">Complete</option>
        </select>
        <p>Created At: {{task.created_at}}</p>
        <p>Last Updated on: {{task.updated_at}}</p>
        <br>
        <input type="submit" value="Update">
    </form>
    
    <h2>Sub Task</h2>
    {%  for j in subtask%}
    {{ j.subtask_name }} <br>
    {% endfor %} <br>
    <form method="post" action="{% url 'add_subtask' task.id %}">
    <!-- <form method="post" action="/addsubtask/{{task.id}}"> -->
        {% csrf_token %}
        <label for="subtask_name">Add New Sub task: </label>
        <input type="text" name="subtask_name"><br><br>
        <input type="submit" value="Add Sub Task">
    </form>
</body>

</html>