{% extends "master.html"%}
{% block maincode%}
<div class="container">
    <h1>Pokemon</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for i in page.object_list %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.pokemon_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="{% url 'home' %}?page={{ page.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{page.number}}</a></li>
            {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ page.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}