{% extends "master.html"%}
{% block maincode%}
<div class="container">
    <h1>Signup</h1>
<!-- 
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form> -->



<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      {{form.username}}
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Email</label>
        {{form.email}}
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      {{form.password1}}
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Re enter your Password</label>
        {{form.password2}}
      </div>
    <button type="submit" class="btn btn-primary">Sign-up</button>
  </form>
</div>
{{form.errors}}
{% endblock %}