<tbody>
<tr>
<td>1</td>
<td><b><a href="/wiki/Mumbai" title="Mumbai">Mumbai</a></b></td>
<td>12,442,373</td>
<td>11,978,450</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-2" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>2</td>
<td><b><a href="/wiki/Delhi" title="Delhi">Delhi</a></b></td>
<td>11,034,555</td>
<td>9,879,172</td>
<td><a href="/wiki/Delhi" title="Delhi">Delhi</a></td>
<td><sup id="cite_ref-class_i_2011_3-3" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>3</td>
<td><b><a href="/wiki/Bangalore" title="Bangalore">Bangalore</a></b></td>
<td>8,443,675</td>
<td>5,682,293</td>
<td><a href="/wiki/Karnataka" title="Karnataka">Karnataka</a></td>
<td><sup id="cite_ref-class_i_2011_3-4" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>4</td>
<td><b><a href="/wiki/Hyderabad,_India" class="mw-redirect" title="Hyderabad, India">Hyderabad</a></b></td>
<td>6,993,262</td>
<td>5,496,960</td>
<td><a href="/wiki/Telangana" title="Telangana">Telangana</a></td>
<td><sup id="cite_ref-class_i_2011_3-5" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>5</td>
<td><a href="/wiki/Ahmedabad" title="Ahmedabad">Ahmedabad</a></td>
<td>5,577,940</td>
<td>4,470,006</td>
<td><a href="/wiki/Gujarat" title="Gujarat">Gujarat</a></td>
<td><sup id="cite_ref-class_i_2011_3-6" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>6
</td>
<td><b><a href="/wiki/Chennai" title="Chennai">Chennai</a></b></td>
<td>4,646,732</td>
<td>4,343,645</td>
<td><a href="/wiki/Tamil_Nadu" title="Tamil Nadu">Tamil Nadu</a></td>
<td><sup id="cite_ref-class_i_2011_3-7" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>7</td>
<td><b><a href="/wiki/Kolkata" title="Kolkata">Kolkata</a> </b></td>
<td>4,496,694</td>
<td>4,580,546</td>
<td><a href="/wiki/West_Bengal" title="West Bengal">West Bengal</a></td>
<td><sup id="cite_ref-class_i_2011_3-8" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>8</td>
<td><a href="/wiki/Surat" title="Surat">Surat</a></td>
<td>4,467,797</td>
<td>2,788,126</td>
<td><a href="/wiki/Gujarat" title="Gujarat">Gujarat</a></td>
<td><sup id="cite_ref-class_i_2011_3-9" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>9</td>
<td><a href="/wiki/Pune" title="Pune">Pune</a></td>
<td>3,124,458</td>
<td>2,538,473</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-10" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>10</td>
<td><b><a href="/wiki/Jaipur" title="Jaipur">Jaipur</a></b></td>
<td>3,046,163</td>
<td>2,322,575</td>
<td><a href="/wiki/Rajasthan" title="Rajasthan">Rajasthan</a></td>
<td><sup id="cite_ref-class_i_2011_3-11" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>11</td>
<td><b><a href="/wiki/Lucknow" title="Lucknow">Lucknow</a></b></td>
<td>2,817,105</td>
<td>2,185,927</td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-12" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>12</td>
<td><a href="/wiki/Kanpur" title="Kanpur">Kanpur</a></td>
<td>2,765,348</td>
<td>2,551,337</td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-13" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>13</td>
<td><a href="/wiki/Nagpur" title="Nagpur">Nagpur</a></td>
<td>2,405,665</td>
<td>2,052,066</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-14" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>14</td>
<td><a href="/wiki/Indore" title="Indore">Indore</a></td>
<td>1,964,086</td>
<td>1,503,237</td>
<td><a href="/wiki/Madhya_Pradesh" title="Madhya Pradesh">Madhya Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-15" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>15</td>
<td><a href="/wiki/Thane" title="Thane">Thane</a></td>
<td>1,841,488</td>
<td>1,262,551</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-16" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>16</td>
<td><b><a href="/wiki/Bhopal" title="Bhopal">Bhopal</a></b></td>
<td>1,798,218</td>
<td>1,458,416</td>
<td><a href="/wiki/Madhya_Pradesh" title="Madhya Pradesh">Madhya Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-17" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>17</td>
<td><a href="/wiki/Visakhapatnam" title="Visakhapatnam">Visakhapatnam</a></td>
<td>1,728,128</td>
<td>1,345,938</td>
<td><a href="/wiki/Andhra_Pradesh" title="Andhra Pradesh">Andhra Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-18" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup><sup id="cite_ref-fn1_6-0" class="reference"><a href="#cite_note-fn1-6">[b]</a></sup>
</td></tr>
<tr>
<td>18</td>
<td><a href="/wiki/Pimpri-Chinchwad" title="Pimpri-Chinchwad">Pimpri-Chinchwad</a></td>
<td>1,727,692</td>
<td>1,020,448</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-19" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>19</td>
<td><b><a href="/wiki/Patna" title="Patna">Patna</a></b></td>
<td>1,684,222</td>
<td>1,431,477</td>
<td><a href="/wiki/Bihar" title="Bihar">Bihar</a></td>
<td><sup id="cite_ref-class_i_2011_3-20" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>20</td>
<td><a href="/wiki/Vadodara" title="Vadodara">Vadodara</a></td>
<td>1,670,806</td>
<td>1,338,244</td>
<td><a href="/wiki/Gujarat" title="Gujarat">Gujarat</a></td>
<td><sup id="cite_ref-class_i_2011_3-21" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>21</td>
<td><a href="/wiki/Ghaziabad,_India" class="mw-redirect" title="Ghaziabad, India">Ghaziabad</a></td>
<td>1,648,643</td>
<td>968,256</td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-22" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>22</td>
<td><a href="/wiki/Ludhiana" title="Ludhiana">Ludhiana</a></td>
<td>1,618,879</td>
<td>1,398,467</td>
<td><a href="/wiki/Punjab_(India)" class="mw-redirect" title="Punjab (India)">Punjab</a></td>
<td><sup id="cite_ref-class_i_2011_3-23" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>23</td>
<td><a href="/wiki/Agra" title="Agra">Agra</a></td>
<td>1,585,704</td>
<td>1,275,134</td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-24" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>24</td>
<td><a href="/wiki/Nashik" title="Nashik">Nashik</a></td>
<td>1,486,053</td>
<td>1,077,236</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-25" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>25</td>
<td><a href="/wiki/Faridabad" title="Faridabad">Faridabad</a></td>
<td>1,414,050</td>
<td>1,055,938</td>
<td><a href="/wiki/Haryana" title="Haryana">Haryana</a></td>
<td><sup id="cite_ref-class_i_2011_3-26" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>26</td>
<td><a href="/wiki/Meerut" title="Meerut">Meerut</a></td>
<td>1,305,429</td>
<td>1,068,772</td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-27" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>27</td>
<td><a href="/wiki/Rajkot" title="Rajkot">Rajkot</a></td>
<td>1,286,678</td>
<td>967,476</td>
<td><a href="/wiki/Gujarat" title="Gujarat">Gujarat</a></td>
<td><sup id="cite_ref-class_i_2011_3-28" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>28</td>
<td><a href="/wiki/Kalyan-Dombivali" class="mw-redirect" title="Kalyan-Dombivali">Kalyan-Dombivali</a></td>
<td>1,247,327</td>
<td>1,193,512</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-29" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>29</td>
<td><a href="/wiki/Vasai-Virar" title="Vasai-Virar">Vasai-Virar</a></td>
<td>1,222,390</td>
<td>518,601</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-30" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>30</td>
<td><a href="/wiki/Varanasi" title="Varanasi">Varanasi</a></td>
<td>1,198,491</td>
<td>1,103,952</td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-31" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>31</td>
<td><b><a href="/wiki/Srinagar" title="Srinagar">Srinagar</a></b></td>
<td>1,180,570</td>
<td>935,764</td>
<td><a href="/wiki/Jammu_and_Kashmir_(union_territory)" title="Jammu and Kashmir (union territory)">Jammu and Kashmir</a></td>
<td><sup id="cite_ref-class_i_2011_3-32" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>32</td>
<td><a href="/wiki/Aurangabad,_Maharashtra" class="mw-redirect" title="Aurangabad, Maharashtra">Aurangabad</a></td>
<td>1,175,116</td>
<td>873,311</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-33" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>33</td>
<td><a href="/wiki/Dhanbad" title="Dhanbad">Dhanbad</a></td>
<td>1,162,472</td>
<td>1,031,523</td>
<td><a href="/wiki/Jharkhand" title="Jharkhand">Jharkhand</a></td>
<td><sup id="cite_ref-class_i_2011_3-34" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>34</td>
<td><a href="/wiki/Amritsar" title="Amritsar">Amritsar</a></td>
<td>1,132,383</td>
<td>979,801</td>
<td><a href="/wiki/Punjab_(India)" class="mw-redirect" title="Punjab (India)">Punjab</a></td>
<td><sup id="cite_ref-class_i_2011_3-35" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>35</td>
<td><a href="/wiki/Navi_Mumbai" title="Navi Mumbai">Navi Mumbai</a></td>
<td>1,120,547</td>
<td>704,002</td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td><sup id="cite_ref-class_i_2011_3-36" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>36</td>
<td><a href="/wiki/Allahabad" class="mw-redirect" title="Allahabad">Allahabad</a></td>
<td>1,112,544</td>
<td>975,393</td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-37" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>37</td>
<td><a href="/wiki/Howrah" title="Howrah">Howrah</a></td>
<td>1,077,075</td>
<td>1,007,532</td>
<td><a href="/wiki/West_Bengal" title="West Bengal">West Bengal</a></td>
<td><sup id="cite_ref-class_i_2011_3-38" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>38</td>
<td><b><a href="/wiki/Ranchi" title="Ranchi">Ranchi</a></b></td>
<td>1,073,427</td>
<td>847,093</td>
<td><a href="/wiki/Jharkhand" title="Jharkhand">Jharkhand</a></td>
<td><sup id="cite_ref-class_i_2011_3-39" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>39</td>
<td><a href="/wiki/Jabalpur" title="Jabalpur">Jabalpur</a></td>
<td>1,055,525</td>
<td>951,472</td>
<td><a href="/wiki/Madhya_Pradesh" title="Madhya Pradesh">Madhya Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-40" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>40</td>
<td><a href="/wiki/Gwalior" title="Gwalior">Gwalior</a></td>
<td>1,054,420</td>
<td>827,026</td>
<td><a href="/wiki/Madhya_Pradesh" title="Madhya Pradesh">Madhya Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-41" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>41</td>
<td><a href="/wiki/Coimbatore" title="Coimbatore">Coimbatore</a></td>
<td>1,050,721</td>
<td>930,882</td>
<td><a href="/wiki/Tamil_Nadu" title="Tamil Nadu">Tamil Nadu</a></td>
<td><sup id="cite_ref-class_i_2011_3-42" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>42</td>
<td><a href="/wiki/Vijayawada" title="Vijayawada">Vijayawada</a></td>
<td>1,034,358</td>
<td>941,760</td>
<td><a href="/wiki/Andhra_Pradesh" title="Andhra Pradesh">Andhra Pradesh</a></td>
<td><sup id="cite_ref-class_i_2011_3-43" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>43</td>
<td><a href="/wiki/Jodhpur" title="Jodhpur">Jodhpur</a></td>
<td>1,033,756</td>
<td>856,525</td>
<td><a href="/wiki/Rajasthan" title="Rajasthan">Rajasthan</a></td>
<td><sup id="cite_ref-class_i_2011_3-44" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>44</td>
<td><a href="/wiki/Madurai" title="Madurai">Madurai</a></td>
<td>1,017,865</td>
<td>928,869</td>
<td><a href="/wiki/Tamil_Nadu" title="Tamil Nadu">Tamil Nadu</a></td>
<td><sup id="cite_ref-class_i_2011_3-45" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>45</td>
<td><b><a href="/wiki/Raipur,_Chhattisgarh" class="mw-redirect" title="Raipur, Chhattisgarh">Raipur</a></b></td>
<td>1,010,433</td>
<td>707,469</td>
<td><a href="/wiki/Chhattisgarh" title="Chhattisgarh">Chhattisgarh</a></td>
<td><sup id="cite_ref-class_i_2011_3-46" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr>
<tr>
<td>46</td>
<td><a href="/wiki/Kota,_Rajasthan" title="Kota, Rajasthan">Kota</a></td>
<td>1,001,694</td>
<td>703,150</td>
<td><a href="/wiki/Rajasthan" title="Rajasthan">Rajasthan</a></td>
<td><sup id="cite_ref-class_i_2011_3-47" class="reference"><a href="#cite_note-class_i_2011-3">[3]</a></sup>
</td></tr></tbody>