<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}

        <label for="taskname">Task Name</label>
        <input type="text" name="task_name"><br><br>
        <select name="status">
            <option value="0">InComplete</option>
            <option value="1">Complete</option>
        </select>
<br><br>
        <input type="submit">
        <input type="reset">

    </form>
</body>

</html>