<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Login Page</h1>
    <form action="login" method="post">
        {% csrf_token %}
        <label for="name">Username</label>
        <input type="text" name="name"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password"><br><br>
        <input type="submit">
    </form>
</body>
</html>