<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load cache %}
    <p>This is not Lorem</p>


    {% cache 30 lorem %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut repellat dolor sint molestias saepe neque odio quasi ipsa praesentium consequuntur, iure hic inventore, ipsam itaque incidunt cupiditate tempora fugiat maxime?</p>
    
    {% endcache lorem %}
</body>
</html>