<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "master.html"%}
    {% block maincode %}

    {% autoescape on %}
    {{ heading }}
    {% endautoescape %}

    {% comment "This is optional. Nahi likha to bhi chalega" %}
    <p>This is Commented</p>
    {% endcomment %}


    
{% for i in data %}
    <div class="{% cycle 'row1' 'row2' %}">
        cycle
    </div>
{% endfor %}




    {% endblock %}
</body>

</html>